.page-category .product-discount .regular-price,
.page-category .product-miniature .regular-price,
.page-index .product-discount .regular-price,
.page-index .product-miniature .regular-price,
.page-product .product-discount .regular-price.updated {
    display: none;
}

.page-category .product-discount .regular-price.updated,
.page-category .product-miniature .regular-price.updated,
.page-index .product-discount .regular-price.updated,
.page-index .product-miniature .regular-price.updated {
    display: inline-block;
    font-size: .875rem;
    color: #7a7a7a;
    text-decoration: line-through;
}
